In [1]:
# Basic Libraries
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt # we only need pyplot
sb.set() # set the default Seaborn style for graphics

In [2]:
trainData = pd.read_csv('train.csv')

In [3]:
trainData.shape

(45593, 20)

In [6]:
trainData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45593 entries, 0 to 45592
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           45593 non-null  object
 1   Delivery_person_ID           45593 non-null  object
 2   Delivery_person_Age          45593 non-null  object
 3   Delivery_person_Ratings      45593 non-null  object
 4   Restaurant_latitude          45593 non-null  float64
 5   Restaurant_longitude         45593 non-null  float64
 6   Delivery_location_latitude   45593 non-null  float64
 7   Delivery_location_longitude  45593 non-null  float64
 8   Order_Date                   45593 non-null  object
 9   Time_Orderd                  45593 non-null  object
 10  Time_Order_picked            45593 non-null  object
 11  Weatherconditions            45593 non-null  object
 12  Road_traffic_density         45593 non-null  object
 13  Vehicle_condition            45593 non-null  int64
 14  Type_of_order                45593 non-null  object
 15  Type_of_vehicle              45593 non-null  object
 16  multiple_deliveries          45593 non-null  object
 17  Festival                     45593 non-null  object
 18  City                         45593 non-null  object
 19  Time_taken(min)              45593 non-null  object
dtypes: float64(4), int64(1), object(15)
memory usage: 7.0+ MB

In [7]:
trainData["Delivery_person_ID"].nunique()

1320

In [10]:
trainData["Time_taken(min)"].describe()

count        45593
unique          45
top       (min) 26
freq          2123
Name: Time_taken(min), dtype: object

In [18]:
trainData["Time_taken(min)"].unique()

array([24, 33, 26, 21, 30, 40, 32, 34, 46, 23, 20, 41, 15, 36, 39, 18, 38,
       47, 12, 22, 25, 35, 10, 19, 11, 28, 52, 16, 27, 49, 17, 14, 37, 44,
       42, 31, 13, 29, 50, 43, 48, 54, 53, 45, 51], dtype=int64)

In [ ]:
trainData["Time_taken(min)"] = trainData["Time_taken(min)"].str.extract('(\d+)')

In [31]:
trainData["Time_taken(min)"] = pd.to_numeric(trainData["Time_taken(min)"])
trainData["Time_taken(min)"].dropna()
trainData["Time_taken(min)"].astype('int64')

0        24
1        33
2        26
3        21
4        30
         ..
45588    32
45589    36
45590    16
45591    26
45592    36
Name: Time_taken(min), Length: 45593, dtype: int64

In [21]:
trainData["Time_taken(min)"].unique()

array([24, 33, 26, 21, 30, 40, 32, 34, 46, 23, 20, 41, 15, 36, 39, 18, 38,
       47, 12, 22, 25, 35, 10, 19, 11, 28, 52, 16, 27, 49, 17, 14, 37, 44,
       42, 31, 13, 29, 50, 43, 48, 54, 53, 45, 51], dtype=int64)

In [22]:
trainData["Time_taken(min)"].dropna()

0        24
1        33
2        26
3        21
4        30
         ..
45588    32
45589    36
45590    16
45591    26
45592    36
Name: Time_taken(min), Length: 45593, dtype: int64

In [23]:
trainData["Time_taken(min)"].count()

45593

# Time Taken agaisnt Weather Condtions

In [50]:
trainData['Weatherconditions'] = trainData['Weatherconditions'].str.replace("conditions", "")  
# print("Number of Conditions :", len(trainData["Weatherconditions"].unique()))
# print(trainData.groupby('Weatherconditions', as_index=False)['Time_taken(min)'].mean())

Number of Conditions : 7
  Weatherconditions  Time_taken(min)
0            Cloudy        28.917330
1               Fog        28.916122
2               NaN        26.545455
3        Sandstorms        25.875517
4            Stormy        25.870815
5             Sunny        21.856947
6             Windy        26.118836